body {
    font-family: Arial, sans-serif;
    background-color: rgb(243, 242, 240);
    padding: 20px;
    
  }

  header{
    position: fixed sticky;
    top:0%;
    margin-right: 25%;
    width: 100%;
    background-color: #9cd29e;
  }
  details>summary{
    list-style: none;
  }
  
  .navbar {
    list-style-type: none;
    margin-top: 4%;
    padding: 0;
    display: flex;
    width: 99.50%;
    height: 25px;
    background-color: #cce8ec;
    border-radius: 40px;
    font-size: 27px;
    position: relative sticky;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;

    
  }
  
  .navbar summary li {
    margin: 0 10px;
  
    
  }
  
  .navbar  a {
    text-decoration: none;
    padding: 12px;
    border-radius: 40px;
    color: #333;
    transition: float 0.3s ease;
  }
  
  .navbar a.active,
  .navbar a:hover {
    background-color: #333;
    color: #fff;
    float: left;
    
  }
  
  
  
  .navbar a:hover {
    background-color: #c4eef4;
    color: rgb(179, 51, 51);
    float: left;
  }
  @media only screen and (max-width: 200px){
    .navbar{
      float: left;
    }
  }

header{
    position: fixed;
    top:0%;
    width: 100%;
    background-color: #9cd29e;
    
}
.custom-logo {
    max-height: 100px;
    width: 80%;
   margin-left: 10%;   
}
  
h1 {
    margin-top: 145px;
    text-align: center;
    position: static;
    
}
select{
    width: 65px;
    height: 25px;
    background-color: #373731;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
  
form {
    max-width: 410px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
  
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  
input[type="text"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}
  
input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #4CAF50;
}
  
button[type="submit"] {
    width: 100px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.box:nth-of-type(){
    background-color: aqua;
}
.box:nth-of-type(0){
    order: 1;
}
.box:nth-of-type(1){
    order: 2;
}
  
  button[type="submit"]:hover {
    background-color: #c04444;
      transform: scale(1.1);
  }
  .l {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }